.createProduct {

    h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .btn-theme {
        font-size: $font-size-16;
        margin-top: 15px;
        padding: 10px 25px 10px 25px;
    }
}